# 26. Regularization Technique (Practical)

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [8]:
dataset = pd.read_csv(r'Data/housing.csv')
dataset.head(3)

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,price
0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,13300000
1,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,12250000
2,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,12250000

In [9]:
dataset.isnull().sum()

area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
price               0
dtype: int64

## Encoding the Data into Numerical Form

In [12]:
en_data = dataset[['mainroad','guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea', 'furnishingstatus']]
en_data.head(3)

,mainroad,guestroom,basement,hotwaterheating,airconditioning,prefarea,furnishingstatus
0,yes,no,no,no,yes,yes,furnished
1,yes,no,no,no,yes,no,furnished
2,yes,no,yes,no,no,yes,semi-furnished

In [13]:
pd.get_dummies(en_data)

,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,basement_no,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0
1,0,1,1,0,1,0,1,0,0,1,1,0,1,0,0
2,0,1,1,0,0,1,1,0,1,0,0,1,0,1,0
3,0,1,1,0,0,1,1,0,0,1,0,1,1,0,0
4,0,1,0,1,0,1,1,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,0,1,1,0,0,1,1,0,1,0,1,0,0,0,1
541,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0
542,0,1,1,0,1,0,1,0,1,0,1,0,0,0,1
543,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0
544,0,1,1,0,1,0,1,0,1,0,1,0,0,0,1

In [14]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   mainroad_no                      545 non-null    uint8
 1   mainroad_yes                     545 non-null    uint8
 2   guestroom_no                     545 non-null    uint8
 3   guestroom_yes                    545 non-null    uint8
 4   basement_no                      545 non-null    uint8
 5   basement_yes                     545 non-null    uint8
 6   hotwaterheating_no               545 non-null    uint8
 7   hotwaterheating_yes              545 non-null    uint8
 8   airconditioning_no               545 non-null    uint8
 9   airconditioning_yes              545 non-null    uint8
 10  prefarea_no                      545 non-null    uint8
 11  prefarea_yes                     545 non-null    uint8
 12  furnishingstatus_furnished       545 non-null    uint8
 13  furnishingstatus_semi-furnished  545 non-null    uint8
 14  furnishingstatus_unfurnished     545 non-null    uint8
dtypes: uint8(15)
memory usage: 8.1 KB

In [16]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
ohe = OneHotEncoder()
ohe.fit_transform(en_data)

<545x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3815 stored elements in Compressed Sparse Row format>

In [18]:
ohe=OneHotEncoder()
arr = ohe.fit_transform(en_data).toarray()
arr

array([[0., 1., 1., ..., 1., 0., 0.],
       [0., 1., 1., ..., 1., 0., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 1., 0., 0.],
       [0., 1., 1., ..., 0., 0., 1.]])

In [21]:
pd.DataFrame(arr, columns=['mainroad_Yes','mainroad_No','guestroom_Yes', 'guestroom_No', 'basement_Yes', 'basement_No', 'hotwaterheating_Yes', 'hotwaterheating_No', 'airconditioning_Yes', 'airconditioning_No', 'prefarea_Yes', 'prefarea_No', 'furnishingstatus_Yes', 'furnishingstatus_No', 'furnishingstatus_Partial'])

,mainroad_Yes,mainroad_No,guestroom_Yes,guestroom_No,basement_Yes,basement_No,hotwaterheating_Yes,hotwaterheating_No,airconditioning_Yes,airconditioning_No,prefarea_Yes,prefarea_No,furnishingstatus_Yes,furnishingstatus_No,furnishingstatus_Partial
0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
1,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
541,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
542,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
543,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
544,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [22]:
ohe = OneHotEncoder(drop='first')
ar = ohe.fit_transform(en_data).toarray()
ar

array([[1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 1., ..., 1., 1., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.]])

In [24]:
pd.DataFrame(arr, columns=['mainroad_Yes','mainroad_No','guestroom_Yes', 'guestroom_No', 'basement_Yes', 'basement_No', 'hotwaterheating_Yes', 'hotwaterheating_No', 'airconditioning_Yes', 'airconditioning_No', 'prefarea_Yes', 'prefarea_No', 'furnishingstatus_Yes', 'furnishingstatus_No', 'furnishingstatus_Partial'])

,mainroad_Yes,mainroad_No,guestroom_Yes,guestroom_No,basement_Yes,basement_No,hotwaterheating_Yes,hotwaterheating_No,airconditioning_Yes,airconditioning_No,prefarea_Yes,prefarea_No,furnishingstatus_Yes,furnishingstatus_No,furnishingstatus_Partial
0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
1,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
541,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
542,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
543,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
544,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [25]:
ohe = OneHotEncoder(drop='first')
ar = ohe.fit_transform(en_data).toarray()
ar

array([[1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 1., ..., 1., 1., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.]])

In [26]:
ar.shape

(545, 8)

In [28]:
encoded_data = pd.DataFrame(ar, columns=['mainroad_Yes','guestroom_Yes', 'basement_Yes', 'hotwaterheating_Yes', 'airconditioning_Yes', 'prefarea_Yes', 'furnishingstatus_Yes', 'furnishingstatus_Partial'])

In [29]:
encoded_data

,mainroad_Yes,guestroom_Yes,basement_Yes,hotwaterheating_Yes,airconditioning_Yes,prefarea_Yes,furnishingstatus_Yes,furnishingstatus_Partial
0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
540,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
541,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
542,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
544,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [39]:
encoded_data.to_csv(r'Data/encoded_data_file.csv', index=False)

## Loading the Encoded Data for Applying Regularization Techniques

In [44]:
dataset = pd.read_csv('Data/housing_2.csv')
dataset

,area,bedrooms,bathrooms,stories,parking,mainroad_Yes,guestroom_Yes,basement_Yes,hotwaterheating_Yes,airconditioning_Yes,prefarea_Yes,furnishingstatus_Yes,furnishingstatus_Partial,price
0,7420,4,2,3,2,1,0,0,0,1,1,0,0,13300000
1,8960,4,4,4,3,1,0,0,0,1,0,0,0,12250000
2,9960,3,2,2,2,1,0,1,0,0,1,1,0,12250000
3,7500,4,2,2,3,1,0,1,0,1,1,0,0,12215000
4,7420,4,1,2,2,1,1,1,0,1,0,0,0,11410000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,2,1,0,1,0,0,0,0,1,1820000
541,2400,3,1,1,0,0,0,0,0,0,0,1,0,1767150
542,3620,2,1,1,0,1,0,0,0,0,0,0,1,1750000
543,2910,3,1,1,0,0,0,0,0,0,0,0,0,1750000
544,3850,3,1,2,0,1,0,0,0,0,0,0,1,1750000